<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>
<meta charset="UTF-8">
</head>
<body>
	<!--Start footer-->
	<footer th:fragment="footer" class="footer">
		<div class="container">
			<div class="text-center">
				Copyright © <script>document.write(new Date().getFullYear())</script> गोदावरी नगरपालिका, Nepal. All Rights Reserved.
				<br>Developed by <a href="http://www.archiesoft.com.np"
					target="_blank">ArchieSoft Technology</a>
			</div>
		</div>
	</footer>
	<!--End wrapper-->
</body>
</html>